<%- contentFor('title') %> Ateliê Saudades da Infância | Home <%# coloca aqui o titulo da pagina %>
<%- contentFor('css') %> <%# se tiver alguma importacao de css coloca abaixo %>
<!-- Google Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- Dancing Script -->
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
<!-- Comfortaa -->
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">

<link rel='stylesheet' href='/sass/style.css' />

<%- contentFor('body') %> <%# implementa aqui o codigo da pagina html %>
<head>
	<title>Login V10</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/css/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/css/main.css">
<!--===============================================================================================-->
</head>

<!-- Cores de uso frequente
    color: #A23B6C; (rosa escuro - texto)
    background-color: #FFF0F5; (rosa claro - fundo)
    background-color: #ED9AB6; (rosa - fundo)
-->

<body style="background-color: #FFF0F5;">
    <p>
        <br><br><br><br><br>
    </p>

    <div class="container align-items-center">
        <div class="row text-center mx-auto" style="color: #A23B6C; font-family: 'Dancing Script';">
            <div class="col-lg-auto col-md-auto col-sm-12 ml-auto">
                <h1>Ateliê</h1>
            </div>
            <div class="col-lg-auto col-md-auto col-sm-12">
                <h1>Saudades</h1>
            </div>
            <div class="col-lg-auto col-md-auto col-sm-12">
                <h1>da</h1>
            </div>
            <div class="col-lg-auto col-md-auto col-sm-12 mr-auto">
                <h1>Infância</h1>
            </div>
        </div>
    </div>
    
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90" style="background-color: #FFF0F5;">
				<form class="login100-form validate-form flex-sb flex-w">
					<span class="mx-auto h2" style="color: #A23B6C; font-family: 'Dancing Script';">
						Produtos
					</span>


                    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                        <div class="col" onclick="window.location='/loja?cat=1'">
                            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background: rgba(0, 0, 0, .65) url('/imgs/bonecas.jpeg');filter: brightness(70%);">
                                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-center" style="color: #A23B6C; font-family: Comfortaa;">
                                        <div class="container bg-white">
                                            Artesanatos
                                        </div>
                                    </h2>
                                    <!--
                                    <ul class="d-flex list-unstyled mt-auto">
                                        <li class="me-auto">
                                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                                        </li>
                                        <li class="d-flex align-items-center me-3">
                                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                                            <small>Earth</small>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                                            <small>3d</small>
                                        </li>
                                    </ul>
                                    -->
                                </div>
                            </div>
                        </div>

                        <div class="col" onclick="window.location='/loja?cat=2'">
                            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background: rgba(0, 0, 0, .65) url('/imgs/joias.jpeg');filter: brightness(70%);">
                                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-center" style="color: #A23B6C; font-family: Comfortaa;">
                                        <div class="container bg-white">
                                            Joias
                                        </div>
                                    </h2>
                                    <!--
                                    <ul class="d-flex list-unstyled mt-auto">
                                        <li class="me-auto">
                                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                                        </li>
                                        <li class="d-flex align-items-center me-3">
                                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                                            <small>Pakistan</small>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                                            <small>4d</small>
                                        </li>
                                    </ul>
                                    -->
                                </div>
                            </div>
                        </div>

                        <div class="col"onclick="window.location='/loja?cat=3'">
                            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/imgs/demais.jpeg');filter: brightness(70%);">
                                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-center" style="color: #A23B6C; font-family: Comfortaa;">
                                        <div class="container bg-white">
                                            Demais Produtos
                                        </div>
                                    </h2>
                                    <!--
                                    <ul class="d-flex list-unstyled mt-auto">
                                        <li class="me-auto">
                                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                                        </li>
                                        <li class="d-flex align-items-center me-3">
                                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                                            <small>California</small>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                                            <small>5d</small>
                                        </li>
                                    </ul>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>


	<div id="dropDownSelect1"></div>

<div class="container text-center h2">
    <br>
    <p class="h2" style="color: #A23B6C; font-family: 'Dancing Script';">Informações</p>
    <br>

    <div class="accordion accordion-flush" id="accordion-loja">
        <div class="accordion-item-1 pb-1" style="font-family: Comfortaa;">
          <h2 class="accordion-header" id="alteracao">
            <button style="background-color: #ED9AB6;" class="accordion-button text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-alteracao">
                A boneca será entregue assim como na foto?
            </button>
          </h2>
          <div id="collapse-alteracao" class="accordion-collapse collapse" data-bs-parent="#accordion-loja">
            <div class="accordion-body h6 bg-white">
                Bonecas podem sofrer algumas alterações com relação à cor do cabelo, do vestido, entre outros detalhes, mas o modelo se manterá o mesmo.
            </div>
          </div>
        </div>
        <div class="accordion-item-2 pb-1" style="font-family: Comfortaa;">
            <h2 class="accordion-header" id="entrega">
              <button style="background-color: #ED9AB6;" class="accordion-button text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-entrega">
                Quanto tempo devo esperar para que meu pedido fique pronto?
              </button>
            </h2>
            <div id="collapse-entrega" class="accordion-collapse collapse" data-bs-parent="#accordion-loja">
              <div class="accordion-body h6 bg-white">
                O tempo de fabricação é de até 7 dias. Quaisquer alterações serão informadas via WhatsApp.
              </div>
            </div>
          </div>
</div>

<!--===============================================================================================-->
	<script src="/css/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/css/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->

	<script src="/css/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/css/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/css/vendor/daterangepicker/moment.min.js"></script>
	<script src="/css/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/css/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/css/js/main.js"></script>

</html>

<%- contentFor('js') %> <%# se tiver alguma importacao de js coloca abaixo %>
