<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<footer class="footer mt-auto py-3">

    <div class="container text-center">
        <br><br>
        <p class="h6" style="color: #A23B6C; font-family: Comfortaa;">Gostaria de encomendar um produto? É só me chamar no WhatsApp!</p>
        <i class="bi bi-whatsapp h5" style="color: #A23B6C;"> (32) 8824-6089</i>
        <br><br><br>
    </div>
    <hr>
    <div class="container">
        <center><span class="text-muted" style="font-family: Comfortaa;">Ateliê Saudades da Infância
        <br><br>
        © 2021</span></center>
        <!--
        <nav>
            <ul>

                <a class="py-2 d-none d-md-inline-block" href="/">Inicio</a> |
                <a class="py-2 d-none d-md-inline-block" href="/loja?cat=artesanatos">Artesanatos</a> |
                <a class="py-2 d-none d-md-inline-block" href="/loja?cat=joias">Joias</a> |
                <a class="py-2 d-none d-md-inline-block" href="#">Contato</a> |
                <a class="py-2 d-none d-md-inline-block" href="#">Carrinho</a>

            </ul>
        </nav>
    -->
    </div>
</footer>
