<%var isAuthenticated = false;
try{
    isAuthenticated = auth ? true : false;
}catch (e) {
    console.log("header isauth error",e);
    isAuthenticated = false;
}%>
<header class="header header-absolute">
    <nav class="navbar navbar-expand-lg py-3 fixed-top" style="background-color: #ED9AB6;">
        <div class="container">
            <a class="navbar-brand py-2 text-white" href="/loginADM" aria-label="Product" style=" font-family: Comfortaa;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
            </a>

            <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <%if (isAuthenticated){%>
                    <li class="nav-item px-3">
                        <a class="py-2 d-md-inline-block text-white"  style="font-family: Comfortaa;" href="/adm/painel">Painel</a>
                    </li>
                    <%}%>
                    <li class="nav-item px-3">
                        <a class="py-2 d-md-inline-block text-white"  style="font-family: Comfortaa;" href="/">Início</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="py-2 d-md-inline-block text-white"  style="font-family: Comfortaa;" href="/loja?cat=1">Artesanatos</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="py-2 d-md-inline-block text-white"  style="font-family: Comfortaa;" href="/loja?cat=2">Joias</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="py-2 d-md-inline-block text-white" style="font-family: Comfortaa;" href="/loja?cat=3">Demais Produtos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- " <%# "" e " %> "" -> Removidos de "Artesanatos" e "Joias" porque os itens da navbar não estavam aparecendo. Colocar de volta se necessário. -->
