<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%- title %></title>
    <% include importsGlobais.ejs %>
    <%- css %>
</head>
<body>

<% include header.ejs %>

<main>
    <div class="container">
        <%- body %>
    </div>
</main>

<% include footer.ejs %>

<%- js %>

</body>
</html>
